<div class="container">
  <h1>Bài kiểm tra</h1>
  <div class="content">
    <div class="left">
      <h6>Chọn câu trả lời đúng:</h6>
      <div class="QA">
        <p>Câu hỏi : {{questions[indexQuestion]?.question}}</p>
        <ul>
          <li>
            <input type="radio" name="question" value={{questions[indexQuestion]?.answerA}} #A id="A">
           <strong> A - </strong> {{questions[indexQuestion]?.answerA}}
          </li>
          <li>
            <input type="radio" name="question"  value={{questions[indexQuestion]?.answerB}} #B id="B">
            <strong> B - </strong> {{questions[indexQuestion]?.answerB}}
          </li>
          <li>
            <input type="radio" name="question"  value={{questions[indexQuestion]?.answerC}} #C id="C">
            <strong> C- </strong> {{questions[indexQuestion]?.answerC}}
          </li>
          <li>
            <input type="radio" name="question"  value={{questions[indexQuestion]?.answerD}} #D id="D">
            <strong> D - </strong> {{questions[indexQuestion]?.answerD}}
          </li>
        </ul>

      </div>
      <div class="button">
        <button class="btn-danger" (click)="back()">Trở lại</button>
        <button class="btn-success" [disabled]="nextstatus" (click)="next(indexQuestion, A, B, C, D)">Tiếp theo</button>
        <button class="btn-primary">Nộp</button>
      </div>
    </div>
    <div class="right">
      <div class="time">
          <p>{{time}}</p>
      </div>
      <div class="questions" >

        <div class="question" [ngClass]="item?.status_choose ? 'success' : 'error'" *ngFor="let item of questions; var let i = index">{{i + 1}}</div>
      </div>
    </div>
  </div>
</div>

<hr>


<div class="container" style="width: 80%;">
  <div class="main">
      <div class="contentGalery">
          <span>
              <h3><b>Mini Practice Test 9 - Test kiểm tra trình độ Basic</b></h3>
          </span>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-sm-8">

                  <button type="button" class="btn btn-light">
                      <span class="">
                          <h4>Choose the answer that best completes the sentence:</h4>
                      </span>
                  </button>

                  <p>
                      Question 1: Audience members were impressed that the question asked of the candidate
                      was answered ___________
                  </p>

                  <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                      <input type="radio" name="radio">
                      <label class="options">Small Business Owner or Employee</label>
                      <br>
                      <input type="radio" name="radio">
                      <label class="options">Nonprofit Owner or Employee</label>
                      <br>
                      <input type="radio" name="radio">
                      <label class="options">Journalist or Activist</label>
                      <br>
                      <input type="radio" name="radio">
                      <label class="options">Other</label>
                  </div>
                  <div class="row sub">
                      <div class="col-sm-3">
                          <button class="btn btn-danger">Back</button>
                      </div>
                      <div class="col-sm-3">
                          <button class="btn btn-warning">Next</button>
                      </div>
                      <div class="col-sm-3">
                          <button class="btn btn-success">Submit</button>
                      </div>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="list">
                      <div>
                          <div class="row row1">
                              <div class="col-sm-12">
                                  <span>1:22:00</span>
                              </div>
                          </div>
                          <div class="row row2">
                              <div class="col"><button class="btn btn-light">1</button>
                              </div>
                              <div class="col"><button class="btn btn-light">2</button>
                              </div>
                              <div class="col"><button class="btn btn-light">3</button>
                              </div>
                              <div class="col"><button class="btn btn-light">4</button>
                              </div>
                              <div class="col"><button class="btn btn-light">5</button>
                              </div>
                          </div>
                          <div class="row row2">
                              <div class="col"><button class="btn btn-light">6</button>
                              </div>
                              <div class="col"><button class="btn btn-light">7</button>
                              </div>
                              <div class="col"><button class="btn btn-light">8</button>
                              </div>
                              <div class="col"><button class="btn btn-light">9</button>
                              </div>
                              <div class="col"><button class="btn btn-light">10</button>
                              </div>
                          </div>
                          <div class="row row2">
                              <div class="col"><button class="btn btn-light">11</button>
                              </div>
                              <div class="col"><button class="btn btn-light">12</button>
                              </div>
                              <div class="col"><button class="btn btn-light">13</button>
                              </div>
                              <div class="col"><button class="btn btn-light">14</button>
                              </div>
                              <div class="col"><button class="btn btn-light">15</button>
                              </div>
                          </div>
                          <div class="row row2">
                              <div class="col"><button class="btn btn-light">16</button>
                              </div>
                              <div class="col"><button class="btn btn-light">17</button>
                              </div>
                              <div class="col"><button class="btn btn-light">18</button>
                              </div>
                              <div class="col"><button class="btn btn-light">19</button>
                              </div>
                              <div class="col"><button class="btn btn-light">20</button>
                              </div>
                          </div>
                          <div class="row row2">
                              <div class="col"><button class="btn btn-light">21</button>
                              </div>
                              <div class="col"><button class="btn btn-light">22</button>
                              </div>
                              <div class="col"><button class="btn btn-light">23</button>
                              </div>
                              <div class="col"><button class="btn btn-light">24</button>
                              </div>
                              <div class="col"><button class="btn btn-light">25</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>