<div class="but" style="width: fit-content; margin: auto; margin-top: 20px;">
    <button type="button" class="btn btn-success" (click)="openModal(update)"><i class="fas fa-user-edit"></i></button>
    <div class="space">
    </div>
    <button type="button" class="btn btn-danger" (click)="openModal(delete)"><i class="fas fa-user-minus"></i></button>
</div>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete teacher</h4>
        <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
    </div>
</ng-template>


<ng-template #update>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update teacher</h4>
        <button class="btn-close" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-6">
                        <b for="message-text" class="col-form-label">Username:</b>
                        <input type="text" [(ngModel)]="params.data.user_name" class="form-control">
                        <b for="message-text" class="col-form-label">Fullname:</b>
                        <input type="text" [(ngModel)]="params.data.full_name" class="form-control">
                        <b for="message-text" class="col-form-label">Email:</b>
                        <input type="text" [(ngModel)]="params.data.email" class="form-control">
                    </div>
                    <div class="col-6">
                        <b for="message-text" class="col-form-label">Phone:</b>
                        <input type="email" [(ngModel)]="params.data.phone" class="form-control">
                        <b for="message-text" class="col-form-label">Address:</b>
                        <input type="text" [(ngModel)]="params.data.address" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="updateTeacher()">Update</button>
        <button type="button" class="btn btn-default" (click)="modalRef?.hide()">Close</button>
    </div>
</ng-template>