.pagination{
    display: flex;
    gap: 20px;
    margin-left: 60%;
    margin-top: 10px;
}

.link-active{
    color: blue;
}

.link-normal{
    color: red;
}

.pagination a{
    text-decoration: none;
    padding: 2%;
}
.pagination .active{
    border-radius: 5px;
    width: 5%;
    height: 5%;
    background-color: orange;
}