<footer class="text-center text-lg-start text-white" style="background-color: #3e4551">
    <div class="container p-4 pb-0">
        <section class="">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">PHƯƠNG CHÂM</h5>
                    <p>
                        Trên con đường phát triển, Anh ngữ LongKame phấn đấu trở thành đơn vị đi đầu trong lĩnh
                        vực đào tạo tiếng Anh; trở thành thương hiệu “top of mind” trong lòng học viên khi họ có
                        nhu
                        cầu nâng cao kỹ năng tiếng Anh. Xa hơn nữa là trở thành ngôi sao sáng trên bản đồ giáo
                        dục Việt Nam.
                    </p>
                </div>
                <div class="col-lg-2 col-md-6 mb-8 mb-md-0">
                    <h5 class="text-uppercase">Liên hệ</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Anh ngữ LongKame</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Top đầu Việt Nam</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Hotline: 0934 489 666</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Email: thanhlong@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-8 mb-md-0">
                    <h5 class="text-uppercase">Mạng xã hội:</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Facebook: LongKame</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Youtube: AlphaCode</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 mb-8 mb-md-0">
                    <h5 class="text-uppercase">Đồng hàng cùng LongKame</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Hàng triệu fan theo học</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Uy tín chất lượng cao</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Chia sẻ tài liệu chuyên sâu </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Định hướng miễn phí từ chuyên gia</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 2</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </section>
        <hr class="mb-4" />
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Register for free</span>
                <button type="button" class="btn btn-outline-light btn-rounded">
                    Sign up!
                </button>
            </p>
        </section>
        <hr class="mb-4" />
        <section class="mb-4 text-center">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-google"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-instagram"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-linkedin"></i></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                    class="fa fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">AlphaCode</a>
    </div>
</footer>